<div class="popup">
	<div class="header">
		<div class="container container__flex">
			<div class="header__logo">
				<img src="../src/img/geo-header.png" alt="" class="header__img">
			</div>
			<div class="header__adress">Место не определенно</div>
			<a class="popup__close" id="popup__close">
				<img src="../src/img/close.svg" alt="" class="close__icon">
			</a>
		</div>
	</div>
	<div class="container">	
		<div class="reviews">
			<ul class="reviews__list">
				<li class="reviews__item">
					<div class="reviews__item-header">
						<span class="reviews__item-name"></span>
						<span class="reviews__item-spot"></span>
						<span class="reviews__item-date"></span>
					</div>
					<div class="reviews__item-text"></div>
				</li>
			</ul>	
		</div>
		<div class="border"></div>
		<form action="" class="form">
			<h2 class="form__title">ВАШ ОТЗЫВ</h2>
			<input type="text" class="form__input" name="name" placeholder="Ваше имя">
	    <input type="text" class="form__input" name="spot" placeholder="Укажите место">
	    <textarea class="form__input" name="" id="" cols="30" rows="10" placeholder="Поделитесь впечатлениями"></textarea>
	    <button class="form__btn">Добавить</button>
		</form>
	</div>
</div>